.productMarkup{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;

}

.card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 33%;
    height: 250px;
    width: 250px;
}

